
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
   .Container{
    /* border: 2px solid red; */
    margin: 0px 80px 0px 80px ;
    
  }
  @media (max-width:480px){
    .Container{
     /* border: 2px solid red; */
     margin: 0px 10px 0px 10px ;
    }
    
  }
